#new-project-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4#project-modal-header
      .modal-body#project-modal-content
        %p Model body.
