%h2 Detailed report
%p Here we will show details of the currenly selected project.
%table.table
  %tr
    %th Release
    %th Date
    %th Status
  %tr
    %td 123456789
    %td 2014/03/18
    %td Fail
  %tr
    %td 123456789
    %td 2014/03/18
    %td Fail
  %tr
    %td 123456789
    %td 2014/03/18
    %td Pass

