%h1 Project List

.col-md-4
  - if flash[:notice]
    .notice.alert.alert-success.alert-dismissible
      %button.close{:type => "button", "data-dismiss" => "alert"}
        %span{"aria-hidden" => "true"} &times;
      = flash[:notice]


  %table.table-striped.table-bordered.project-table
    - @projects.each do |project|
      %tr
        %td
          = link_to "#{project.name}", edit_project_path(project), :remote => true
  = link_to "New Project", new_project_path

.col-md-4 
  %p Column 2

.col-md-4 
  Column 3
  #new-project-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} &times;
          %h6 This is a header
        .modal-body#project-modal-content
          %p Model body.
