%h1 Project List

.col-md-4
  - if flash[:notice]
    .notice.alert.alert-success.alert-dismissible
      %button.close{:type => "button", "data-dismiss" => "alert"}
        %span{"aria-hidden" => "true"} &times;
      = flash[:notice]


  = link_to "New", new_project_path, :class => "btn btn-primary btn-sm", :id => "new-project-button", :remote => true
  %table.table-striped.table-bordered.project-table
    - @projects.each do |project|
      %tr
        %td
          = render :partial => 'projects/project', :locals => {project: project}

.col-md-4 
  %p Column 2

.col-md-4 
  Column 3

/ Render the modal box used for new/edit. It will be hidden by default
= render :partial => 'projects/form_modal'
