%h1.jumbotron.text-center Main Dashboard

.col-md-4
  = render :partial => 'projects/project_list'

.col-md-4 
  Column 2

.col-md-4 
  Column 3

/ Render the modal box used for new/edit. It will be hidden by default
= render :partial => 'projects/form_modal'
