:plain
  var content = $("#{escape_javascript(render('form'))}");
  $("#project-modal-header").html("Create new project");
  $("#project-modal-content").html(content);
  $("#new-project-modal").modal('show');
